* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body,
.landing-section-header,
.landing-section-header-menu,
.landing-section-header-links,
.landing-section-content,
.landing-section-header-btns,
.landing-section-footer-links,
.landing-section-scr-dwn,
.about-section,
.about-section-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    background-color: #141D2F;
    flex-direction: column;
}

main {
    /* max-width: 1440px; */
    width: 100%;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 128px;
    color: #FFFFFF;
    height: 118px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-section-header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 109px;
    padding: 37px 100px;
    background-color: #141D2F;
}

.landing-section-header img {
    height: 35px;
}

.landing-section-header-menu {
    gap: 92px;
}

.landing-section-header-menu a,
.landing-section-header-btns>button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.landing-section-header-links {
    gap: 29px;
}

.landing-section-header-btns {
    gap: 14px;
}

.landing-section-header-btns>button {
    cursor: pointer;
    border: 1px solid #70E61C;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 8px;
}

.landing-section-header-btns>button.active {
    background-color: #70E61C;
    font-weight: 700;
}

.landing-section {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #141D2F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/shadows-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing-section-content {
    flex-direction: column;
    gap: 72px;
}

.landing-section-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-content-main-p {
    transform: rotateZ(-90deg);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 90px;
    color: #FFFFFF;
    height: 108px;
    width: 200px;
    display: flex;
    align-items: center;
}

.landing-section-content-main-container {
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6px;
}

.landing-section-content-main-container-p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 64px;
    color: #9747FF;
    height: 69px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-section-content-main-btn {
    cursor: pointer;
    border-width: 0;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #70E61C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.landing-section-scr-dwn {
    position: absolute;
    top: 799px;
    right: 57px;
    gap: 3px;
    transform: rotateZ(90deg);
}

.landing-section-scr-dwn p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.landing-section-scr-dwn svg {
    transform: rotateZ(-90deg);
}

.landing-section-footer {
    position: absolute;
    top: 867px;
    left: 0;
}

.landing-section-footer-links {
    gap: 42px;
}

.landing-section-footer-links a {
    transition: scale 100ms ease-out;
}

.landing-section-footer-links a:hover {
    scale: 1.3;
}

.sharedbckgrd {
    background-image: url('./assets/img/about-bckgrnd.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 760px;
}

.about-section {
    /* height: 1200px; 1200 */
    padding: 100px;
}

.about-section-left {
    width: 50%;
    font-family: 'Poppins';
    color: #FFFFFF;
    flex-direction: column;
    gap: 35px;
}

h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 90px;
    color: #FFFFFF;
}

.about-me-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

.about-me-description-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.about-me-description-point {
    display: flex;
    gap: 16px;
}

.about-me-description-point>svg {
    min-width: 48px;
    min-height: 48px;
    transition: scale 100ms ease-out;
}

.about-me-description-point>svg:hover {
    scale: 1.5;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.skills-section-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    padding: 0 100px;
    height: 662px;
}

.skills-section-left svg {
    min-height: 60px;
}

.skills-section-left p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 80px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    width: 88px;
    min-height: 101px;
    max-height: 101px;
    text-align: center;
    /* transition: padding-top 100ms ease-in-out; */
    
}

.skills-card:hover {
    animation: paddingBounce 600ms;
}

.continually-learnig {
    width: 88px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 12px;
    gap: 10px;
}

.skills-section-right {
    width: 560px;
    position: relative;
    height: 492px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills-section-right p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 89px;
}

.skills-section-headline {
    /* position: absolute;
    top: 0;
    right: 0; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.get-in-touch-btn {
    cursor: pointer;
    width: 200px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    padding: 15px 30px;
    border-width: 0;
    border-radius: 10px;
    background-color: #70E61C;
}

.portfolio-section {
    padding: 150px 0;
}

.portfolio-section-header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   gap: 40px;
}

.portfolio-section-header p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 473px;
    padding-left: 100px;
}

.portfolio-section-header-headline {
     display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.portfolio-projects-section {
    /* max-height: 1238px; */
    padding: 40px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.portfolio-projects-section>section {
    width: 603px;
    height: 603px;
    border: 1px solid #70E61C;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.porfolio-project-el-pollo-loco {
    background-image: url('./assets/img/pollo-loco.png');
}

.porfolio-project-join {
    background-image: url('./assets/img/join.png');
}

.porfolio-project-da-bubble {
    background-image: url('./assets/img/dabubble.png');
}

.porfolio-project-pokedex {
    background-image: url('./assets/img/pokedex.png');
}

.comments-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 32px;
}

.comments-section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.comment-container {
    position: relative;
    width: 852px;
    height: 272px;
    border: 4px solid #9747FF;
    border-radius: 32px;
    padding: 48px 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

.comment-container>svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-72%, -50%);
}

.comment-container>p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.comment-footer>p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.comment-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-circle {
    width: 272px;
    height: 272px;
    border: 4px solid #70E61C;
    border-radius: 50%;
    overflow: hidden;
}

.img-circle>img {
    width: 658px;
    transform: rotateZ(90deg) translate(68px, 202px);
}

.switch-comment-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.switch-comment-btns>button {
    cursor: pointer;
    border-width: 0;
    border: 2px solid transparent;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-comment-btns>button:hover {
    border-color: #70E61C;
}

.contact-section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.contact-section-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

h3 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.contact-section-main {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.contact-section-main-left-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.contact-section-main-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 617px;
    height: 504px;
}

form>input,
form>textarea {
    width: 100%;
    border: 1px solid #9747FF;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #141D2F;
}

form>input {
    height: 50px;
}

form>textarea {
    height: 202px;
}

form>button {
    border-width: 0;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #B6B6B6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.checkbox {
    cursor: pointer;
    border-width: 0;
    background-color: #141D2F;
}

.privacy-policy-checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.privacy-policy-link {
    color: #9747FF;
}

form ::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.main-footer {
    height: 291px;
    border-top: 4px solid #70E61C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.footer-name-ln-container {
    display: flex;
    flex-direction: column;
}

.footer-name-ln-container img {
    width: 216px;
}

.footer-name-ln-container a:last-child {
    height: 32px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.main-footer p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}