* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

body,
.landing-section-header,
.landing-section-header-menu,
.landing-section-header-links,
.landing-section-content,
.landing-section-header-btns,
.landing-section-footer-links,
.landing-section-scr-dwn,
.about-section,
.about-section-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    background-color: #141D2F;
    flex-direction: column;
}

main {
    /* max-width: 1440px; */
    width: 100%;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 128px;
    color: #FFFFFF;
    height: 118px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-section-header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 109px;
    padding: 37px 100px;
    background-color: #141D2F;
}

.landing-section-header img {
    height: 35px;
}

.landing-section-header-menu {
    gap: 92px;
}

.landing-section-header-menu a,
.landing-section-header-btns>button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.landing-section-header-links {
    gap: 29px;
}

.landing-section-header-btns {
    gap: 14px;
}

.landing-section-header-btns>button {
    cursor: pointer;
    border: 1px solid #70E61C;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 8px;
}

.landing-section-header-btns>button.active {
    background-color: #70E61C;
    font-weight: 700;
}

.landing-section {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #141D2F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/shadows-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing-section-content {
    flex-direction: column;
    gap: 72px;
}

.landing-section-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-content-main-p {
    transform: rotateZ(-90deg);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 90px;
    color: #FFFFFF;
    height: 108px;
    width: 200px;
    display: flex;
    align-items: center;
}

.landing-section-content-main-container {
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6px;
}

.landing-section-content-main-container-p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 64px;
    color: #9747FF;
    height: 69px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-section-content-main-btn {
    cursor: pointer;
    border-width: 0;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #70E61C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.landing-section-scr-dwn {
    position: absolute;
    top: 799px;
    right: 57px;
    gap: 3px;
    transform: rotateZ(90deg);
}

.landing-section-scr-dwn p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;  
}

.landing-section-scr-dwn svg {
    transform: rotateZ(-90deg);
}

.landing-section-footer {
    position: absolute;
    top: 867px;
    left: 0;
}

.landing-section-footer-links {
    gap: 42px;
}

.about-section {
    /* height: 1200px; 1200 */
    background-image: url('./assets/img/about-bckgrnd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.about-section-left {
    width: 50%;
    font-family: 'Poppins';
    color: #FFFFFF;
    flex-direction: column; 
    gap: 35px; 
}

.about-section-left>section>h2 {
    font-weight: 700;
    font-size: 90px; 
}

.about-me-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

.about-me-description-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.about-me-description-point {
    display: flex;
    gap: 16px;
}

.about-me-description-point>svg {
    min-width: 48px;
    min-height: 48px;
}