@import url('./styles/fonts/fonts.css');
@import url('./styles/keyframes/keyframes.css');
@import url('./styles/overlay.css');
@import url('./styles/nav.css');
@import url('./styles/footer.css');
@import url('./styles/landing_section.css');
@import url('./styles/about_me_section.css');
@import url('./styles/skills_section.css');
@import url('./styles/portfolio_section.css');
@import url('./styles/comments_section.css');
@import url('./styles/contact_section.css');

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    
}

.index-body {
    font-family: 'Poppins';
    font-weight: 400;
}

.document-main {
    max-width: 1920px;
    width: 100%;
    overflow-x: hidden;
    color: #FFFFFF;
}

.brd-rd {
    border-color: #E61C40 !important;
}

.brd-gr {
    border-color: #70E61C !important;
}

.clr-grn {
    color: #70E61C;
}

.d_none {
    display: none !important;
}