h2 {
    font-weight: 700;
    font-size: 90px;
    color: #FFFFFF;
}

.sharedbckgrd,
.about-section,
.about-section-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-section {
    padding: 100px 100px 0 100px;
    max-width: 1920px; 
}

.about-section-left {
    width: 50%;
    color: #FFFFFF;
    flex-direction: column;
    gap: 35px;
}

.about-me-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

.about-me-description-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.about-me-description-point {
    display: flex;
    gap: 16px;
}

.about-me-description-point>svg {
    min-width: 48px;
    min-height: 48px;
    transition: scale 100ms ease-out;
}

.about-me-description-point>svg:hover {
    scale: 1.5;
}

.about-section-right {
    width: 530px;
    height: 760px; 
    position: relative;
}

.me-img-highlight {
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -2;
}

.me-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 920px;
    background-image: url('../assets/img/david-hero.png');
    background-position: center;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.sharedbckgrd {
    flex-direction: column;
    background-image: url('../assets/img/about-bckgrnd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 710px;
    width: 100%;
}

@media(max-width:1920px) {
    .sharedbckgrd {
        background-size: contain;
    }
}

@media(max-width:1350px) {
    .about-section {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about-section-left {
        width: 100%;
    }
}

@media(max-width: 910px) {
    .me-img {
        height: 100%;
    }
}

@media(max-width:710px) {
    .about-section {
        padding: 100px 24px 0 24px;
    }
}

@media(max-width: 570px) {
    h2 {
        font-size: 60px;
    }

    .about-section-right {
        width: 100%;
        height: 680px;
    }

    .me-img-highlight {
        width: 659px;
        height: 620px;
        left: -15%;
    }
}

@media(max-width: 460px) {
    .sharedbckgrd {
        background-position: 0px 558px;
    }

    .me-img-highlight {
        left: -25%;
    }

    .about-section-right {
        height: 555px;
    }
}

@media(max-width: 390px) {
    h2 {
        font-size: 45px;
    }

    .me-img-highlight {
        left: -40%;
    }
}

@media(max-width:389px) {
    .about-section-right {
        height: 434px;
    }

    .sharedbckgrd {
        background-position: 0px 480px;
    }

    .me-img-highlight {
        width: 459px;
        height: 420px;
        left: -15%;
    }
}