@import url('../style.css');

.legal-notice-headline-container {
    margin-top: 168px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.legal-notice-headline-highlight-left {
    border: 2px solid #9747FF;
    width: 130px;
}

.legal-notice-headline-h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 61px;
    color: #70E61C;
}

.legal-notice-headline-highlight-right {
    border: 2px solid #9747FF;
    width: 500px;
}

.legal-notice-main-content {
    font-family: 'Open Sans';
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 100px 20px;
}

.legal-notice-main-content ul {
    padding-inline-start: 20px;
}

.legal-notice-main-content ul,
.legal-notice-main-content p {
    font-weight: 400;
    font-size: 16px;
}

.legal-notice-main-content span {
    color: #9747FF;
}

.legal-notice-main-content>section {
    max-width: 968px;
    width: 100%;
}

.legal-notice-imprint {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.imprint-h2 {
    font-weight: 700;
    font-size: 33px;
    color: #9747FF;
}

.legal-notice-h3 {
    font-weight: 700;
    font-size: 19px;
    color: #9747FF;
}

@media(max-width: 1313px) {
    .legal-notice-headline-highlight-right {
        width: calc(50% - 303px);
    }
}

@media(max-width: 1000px) {
    .legal-notice-headline-highlight-left {
        display: none;
    }

    .legal-notice-headline-h1{
        font-size: 42px;
    }

    .legal-notice-headline-highlight-right {
        width: calc(50% - 208px);
    }
}

@media(max-width: 550px) {
    .legal-notice-headline-h1 {
        max-width: 260px;
        height: auto;
    }

    .legal-notice-headline-highlight-right {
        width: calc(50% - 113px);
    }
}

@media(max-width: 380px) {
    .legal-notice-headline-h1 {
        max-width: 200px;
        font-size: 32px;
    }

    .legal-notice-headline-highlight-right {
        width: calc(50% - 100px);
    }
}