@import url('../style.css');


.privacy-policy-headline {
    width: 100%;
}

.privacy-policy-headline-container {
    margin-top: 168px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.privacy-policy-headline-h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 61px;
    color: #70E61C;
}

.privacy-policy-headline-highlight-left {
    border: 2px solid #9747FF;
    width: 130px;
}

.privacy-policy-headline-highlight-right {
    border: 2px solid #9747FF;
    width: calc(50% - 341px);
}

.privacy-policy-main-content {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding: 40px 200px;
}

.privacy-policy-main-content>section {
    width: 100%;
    max-width: 968px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.privacy-policy-disclaimer {
    font-weight: 700;
    color: #9747FF;
}

.privacy-policy-main-content a {
    color: #9747FF;
}

.privacy-policy-main-content a:hover {
    text-decoration: underline;
}

.privacy-policy-h2,
.privacy-policy-h3,
.privacy-policy-h4,
.privacy-policy-h5 {
    font-weight: 700;
    color: #9747FF;
}

.privacy-policy-h2 {
    font-size: 33px;
}

.privacy-policy-h3 {
    font-size: 24px;
}

.privacy-policy-h4 {
    font-size: 20px;
}

.privacy-policy-h5 {
    font-size: 18px;
}

.privacy-policy-contact-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.privacy-policy-contact-dates>ul {
    list-style: none;
    padding: 0;
}

.restriction-list {
    padding-inline-start: 20px;
}

@media(max-width: 1313px) {
    .privacy-policy-headline-highlight-right {
        width: calc(50% - 303px);
    }
}

@media(max-width: 1150px) {
    .privacy-policy-headline-highlight-left {
        display: none;
    }
}

@media(max-width: 1000px) {
    .privacy-policy-headline-h1 {
        font-size: 42px;
    }

    .privacy-policy-headline-highlight-right {
        width: calc(50% - 235px);
    }

    .privacy-policy-main-content {
        padding: 30px 25px;
    }
}

@media(max-width: 880px) {
    .privacy-policy-h2 {
        font-size: 23px;
    }

    .privacy-policy-h3,
    .privacy-policy-h4 {
        font-size: 18px;
    }
}

@media(max-width: 550px) {
    .privacy-policy-headline-h1 {
        font-size: 32px;
    }

    .privacy-policy-headline-highlight-right {
        width: calc(50% - 179px);
    }
}

@media(max-width: 440px) {
    .privacy-policy-headline-h1 {
        font-size: 26px;
    }

    .privacy-policy-headline-highlight-right {
        width: calc(50% - 145px);
    }

    .privacy-policy-main-content a {
        font-size: 14px;
    }
}

@media(max-width: 380px) {
    .privacy-policy-headline-h1 {
        font-size: 22px;
    }

    .privacy-policy-headline-highlight-right {
        width: calc(50% - 123px);
    }
}