.privacy-policy-headline-container {
    margin-top: 168px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.privacy-policy-headline-h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 61px;
    color: #70E61C;
}

.privacy-policy-headline-highlight-left {
    border: 2px solid #9747FF;
    width: 130px;
}



.privacy-policy-headline-highlight-right {
    border: 2px solid #9747FF;
    width: 500px;
}