
.skills-card,
.continually-learnig,
.continually-learning-hover-div,
.interest-to-learn>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-section,
.interest-to-learn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-section {
    padding: 109px 0;
    width: 100%;
}

.skills-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 80px;
    padding: 0 50px 0 60px;
    height: 662px;
}

.skills-section-left svg {
    min-height: 60px;
}

.skills-section-left p {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.skills-list {
    width: 100%;
    max-width: calc(1920px * 0.4);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
}

.skills-card {
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    width: 88px;
    min-height: 101px;
    max-height: 101px;
    text-align: center;
}

.skills-card:hover {
    animation: paddingBounce 600ms;
}

.skills-list-continually-leraning-container {
    max-width: calc(1920px * 0.4);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.continually-learnig {
    position: relative;
    width: 88px;
    height: 119px;
    flex-direction: column;
    text-align: center;
    padding-top: 12px;
    gap: 10px;
}

.continually-learnig:hover>svg path {
    fill: #FFFFFF;
}

.continually-learnig:hover .continually-learning-hover {
    display: flex;
}

.continually-learning-hover {
    position: absolute;
    top: -120px;
    left: -8px;
    width: 188px;
    height: 129px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.continually-learning-hover-div {
    flex-direction: column;
    gap: 8px;
}

.continually-learning-hover-div::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #FFFFFF;
}

.continually-learning-hover-div>p {
    font-size: 16px;
    color: #000000 !important;
}

.interest-to-learn {
    gap: 16px;
}

.interest-to-learn>div {
    height: 50px;
    flex-direction: column;
    gap: 5px;
}

.interest-to-learn>div>svg {
    min-height: 32px;
}

.interest-to-learn p {
    color: #000000;
    font-size: 12px;
}

.skills-section-right {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills-section-right-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-right: 89px;
}

.skills-section-right-main-container p{
    max-width: calc(1920px * 0.4);
}

.skills-section-right p {
    font-size: 16px;
    color: #FFFFFF;
}

.skills-section-headline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.skills-section-headline-highlight {
    width: 100%;
    max-width: calc(100% - 275px);
    height: 0;
    border: 2px solid #1CDAE6;
}

.skills-section-right-small-skills-list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    color: #FFFFFF;
    font-size: 14px;
}

.skills-section-right-small-skills-list-visuals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.skills-section-right-small-skills-list svg {
    max-width: 48px;
    max-height: 48px;
    min-height: 48px;
}

.skills-section-right-callout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    color: #FFFFFF;
    max-width: calc(1920px * 0.4);
}

.skills-section-right-callout {
    font-weight: 700;
    font-size: 32px;
}

.skills-section-right-callout>span {
    color: #9747FF;
}

.get-in-touch-btn-container {
    height: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.get-in-touch-btn {
    cursor: pointer;
    font-size: 23px;
    color: #FFFFFF;
    padding: 15px 30px;
    border-width: 0;
    border-radius: 10px;
    background-color: #70E61C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: padding 0.15s ease-in;
}

.get-in-touch-btn:hover {
    padding: 20px 40px;
    background-color: #9747FF;
}

.get-in-touch-btn:active {
    color: #000000;
    background-color: #FFFFFF;
}

@media(max-width: 1920px) {
    .skills-section {
        justify-content: space-between;
    }

    .skills-section-headline-highlight {
        width: 287px;;
    }
}

@media(max-width:1380px) {
    h2 {
        font-size: 70px;
    }
}

@media(max-width:1120px) {
    .skills-section {
        flex-direction: column;
    }

    .skills-section-left {
        display: none;
    }

    .skills-section-right-small-skills-list {
        display: flex;
    }

    .skills-section-right {
        width: 100%;
        padding-left: 89px;
    }

    .skills-section-right-main-container {
        align-items: center;
        padding-right: 89px;
    }

    .skills-section-right-main-container>p {
        padding: 0;
    }

    .skills-section-right-callout-container {
        align-items: flex-end;
    }

    .get-in-touch-btn-container {
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:660px) {
    .skills-section-right {
        padding-left: 26px;
    }

    .skills-section-right-main-container {
        padding-right: 26px;
    }
}

@media(max-width:560px) {
    h2 {
        font-size: 50px;
    }
}

@media(max-width:400px) {
    h2 {
        font-size: 40px;
    }

    .skills-section-right-small-skills-list>div {
        gap: 11px;
    }
}

@media(max-width:370px) {
    h2 {
        font-size: 32px;
    }
}